.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px 0 10px 0;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px 0 10px 0;
  margin: 0.3rem;
  background-color: lightGrey;
  box-shadow: 0 9px 12px 0 @c-bord;
  transition: 0.3s;
}

.todo {
  text-align: center;
  border: 1px solid grey;
  padding: 0.3rem;
  margin: 0.2rem;
}

.todo:hover {
  color: white;
  background-color: black;
  text-decoration: line-through;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  margin: 0.2rem;
}

form input {
  margin: 0.1rem;
  border-radius: 0 5px 0 5px;
  height: 1.6rem;
}

form button {
  margin: 0.1rem;
  border-radius: 5px 0 5px 0;
  font-size: 1.0rem;
}
